{% extends "_base_vue.html" %}

{% block title %}Home{% endblock %}
{% block main %}
    <h2>Welcome!!</h2>
    <p>Ready to play?</p>
    
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators" style="margin-bottom: -10px; list-style-type: none;">
            {% for review in review_list %}
                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}"
                    class="{% if forloop.first %}active{% endif %}"
                    style="width: 30px; height: 5px; background-color: #007bff; border-radius: 2px;">
                </li>
            {% endfor %}
        </ol>

        <div class="carousel-inner">
            {% for review in review_list %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <div class="card border-primary m-auto mb-3 text-center" style="max-width: 30rem">
                        <div class="card-header">{{ review.title }}</div>
                        <div class="card-body text-primary">
                            <h5 class="card-title">{{ review.message }}</h5>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">
                                Created on: {{ review.created }} by {{ review.user.username }}<br>
                                Last updated: {{ review.updated }}
                            </small>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
            
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color: rgba(0, 0, 0, 0.5); padding: 10px; border-radius: 50%;"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true" style="background-color: rgba(0, 0, 0, 0.5); padding: 10px; border-radius: 50%;"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>
{% endblock %}