{% extends "_base_vue.html" %}

{% block title %}Review{% endblock %}
{% block main %}
  <div class="card border-primary m-auto mb-3 text-center"
    style="max-width: 30rem">
    <div class="card-header">{{ review.title }}</div>
    <div class="card-body text-primary">
      <h5 class="card-title">{{ review.message }}</h5>
    </div>
    <div class="card-footer">
      <small class="text-muted">
        Created on: {{ review.created }}
        Last updated: {{ review.updated }}
      </small>
    </div>
  </div>
{% endblock %}